// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  box-sizing: border-box;
}

#root {
  background-color: #eeeeee;
}

// Colors
$color-white: #fff;
$color-black: #000;

.fade-out {
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.ehsan-farahi-border {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 8px dashed #06283d;
  border-top-color: #a1c298;
  border-bottom-color: #fa7070;
  border-right-color: #a460ed;
  border-left-color: #319da0;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  animation: ehsan-farahi-border-rotation 5s linear infinite;
}

@keyframes ehsan-farahi-border-rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.fade-out .ehsan-farahi {
  color: #000;
  border-right: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.l1,
.l2,
.l3,
.l4,
.l5,
.l6,
.l7,
.l8,
.l9,
.l10,
.l11 {
  display: none;
}

.main-wrapper {
  display: none;
  animation: main-wrapper-fade-in 2s ease-in-out;
}

@keyframes main-wrapper-fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

:root {
  --ehsanPhoto: url("../images/ehsan-farahi.JPG");
}

:root {
  --edu-backgroundPhoto: url("../images/edu3.jpg");
}

.userSignupForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;

  .signup-close-btn {
    position: relative;
    font-size: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-left: 45%;
  }

  .signupForm {
    background-color: $color-white;
    border-radius: 0.8rem;
    border: none;
    outline: none;

    h2 {
      padding: 1rem 1.5rem;
      border-bottom: 1px solid black;
    }

    .form-controll {
      margin: 1rem;
      label {
        display: block;
        padding-bottom: 0.5rem;
      }

      input {
        width: 100%;
        height: 2.5rem;
        padding: 0.7rem;
        outline: none;
      }
    }

    .signup-btn {
      text-align: center;
      border: none;
      background: none;
      color: #fff;
      border-top: 1px solid black;
      width: 100%;
      padding: 0.7rem 0;
      font-weight: 700;
      font-size: 1.2rem;
      // background-color: rgb(167, 199, 119);
      background-color: rgb(27, 79, 190);
    }

    .signup-btn:hover {
      cursor: pointer;
      background-color: rgb(43, 207, 28);
      color: #000;
    }
  }
}

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.801)),
    var(--ehsanPhoto);
  background-size: cover;
  background-position: center;

  .top-menu {
    .menu-navigation {
      position: relative;

      .menu-icon {
        position: absolute;
        right: 20px;
        top: 10px;
        transform: rotate(90deg);
        .icon {
          font-size: 28px;
          color: $color-white;
          letter-spacing: 4px;
          cursor: pointer;
          display: none;
        }
        .close-icon {
          font-size: 28px;
          color: $color-black;
          cursor: pointer;
          display: none;
        }
      }

      .menu-list {
        position: absolute;
        top: 27px;
        left: 50%;
        transform: translate(-50%);
        ul {
          font-size: 18px;
          font-weight: 700;
          li {
            display: inline-block;
            padding: 0 10px;

            a {
              color: $color-white;
              text-decoration: none;
              letter-spacing: 2px;
            }
          }
        }
      }
      .menu-account {
        // display: none;
        position: absolute;
        right: 10%;
        top: 1.5rem;
        font-weight: 700;
        color: $color-white;
        font-size: 1.2rem;

        .login {
          letter-spacing: 0.1rem;
          margin-right: 1rem;
          cursor: pointer;
        }

        .signup {
          letter-spacing: 0.1rem;
          cursor: pointer;
        }
      }
    }
  }
}

.menu-li a {
  position: relative;
  top: 0;
  left: 0;
  right: 25em;
  bottom: 0;
  /* display: inline-block; */
  /* -moz-box-sizing: border-box;
  box-sizing: border-box; */
  /* padding: 0.4em 0.2em; */
  /* color: #09c; */
  /* text-decoration: none;
  text-shadow: 0 1px 0 white; */

  /*transition*/
  -webkit-transition: width 0.3s, right 0.3s;
  -moz-transition: width 0.3s, right 0.3s;
  -o-transition: width 0.3s, right 0.3s;
  transition: width 0.3s, right 0.3s;
}

.menu-li:nth-child(1) a {
  width: 4em;
}
.menu-li:nth-child(2) a {
  width: 4.5em;
}
.menu-li:nth-child(3) a {
  width: 7em;
}
.menu-li:nth-child(4) a {
  width: 7em;
}
.menu-li:nth-child(5) a {
  width: 5.8em;
}

.menu-li:last-child a::after {
  content: "";
  position: absolute;
  right: inherit;
  bottom: -4px;
  width: inherit;
  height: 3px;
  background: #fff;
  pointer-events: none;
  /*transition*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* background-image: linear-gradient(to right, green, red, yellow, white); */
}

.menu-li:nth-child(1) ~ li:last-child a {
  right: 25.06em;
  width: 4em;
}

.menu-li:nth-child(2):hover ~ li:last-child a {
  right: 20.1em;
  width: 4.5em;
}

.menu-li:nth-child(3):hover ~ li:last-child a {
  right: 12.85em;
  width: 7em;
}

.menu-li:nth-child(4):hover ~ li:last-child a {
  right: 5.8em;
  width: 7em;
}

.menu-li:nth-child(5):last-child:hover a {
  right: 0;
  width: 5.8em;
}

.menu-li:hover ~ li:last-child a::after,
.menu-li:last-child:hover a::after {
  background-image: linear-gradient(
    270deg,
    #1f1446 10%,
    #d19393 35%,
    #969555 75%,
    #d8688e 90%
  );
}

.menu-li:last-child a {
  min-width: 5em;
  max-width: 5em;
}

/* .menu-li a:hover,
.menu-li a:focus {
  color: #c351fa;
  background-color: rgba(255, 255, 255, 0.6);

  -webkit-transition: width 0.3s, right 0.3s, background-color 0.3s;
  -moz-transition: width 0.3s, right 0.3s, background-color 0.3s;
  -o-transition: width 0.3s, right 0.3s, background-color 0.3s;
  transition: width 0.3s, right 0.3s, background-color 0.3s;
} */

.menu-li a:focus {
  /* border-bottom: 3px solid #c351fa; */
  color: #fff;
}

.menu-link {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.menu-link:hover {
  color: #fff;
}

.logo {
  position: absolute;
  top: 5px;
  left: 10%;
}

.ehsan-farahi {
  color: #fff;
  font-weight: 200;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  font-family: "Alumni Sans Inline One", cursive;
}

.bio {
  color: $color-white;
  position: absolute;
  left: 10%;
  top: 30%;
}

.about-me {
  font-family: "Parisienne", cursive;
  font-size: 4rem;
  font-weight: 200;
  padding-bottom: 30px;
}

.first-line {
  display: block;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

.second-line {
  display: block;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 25px;
  font-family: "Inconsolata", monospace;
}

.script-first-part {
  display: inline;
  font-weight: 300;
  font-size: 25px;
}

.script-second-part {
  display: inline;
  padding-left: 38%;
  color: skyblue;
  font-weight: 300;
  font-size: 25px;
}

.ehsan-script {
  border-top: 0.5px dotted #fff;
  border-bottom: 0.5px dotted #fff;
  padding-bottom: 8px;
}

.fa-solid {
  color: skyblue;
  position: absolute;
  left: -4%;
  padding-top: 8px;
}

.myName {
  color: yellow;
}

hr {
  width: 100%;
  border: 0.5px dotted #fff;
}

.full-stack {
  padding-top: 100px;
  background: linear-gradient(
    -270deg,
    #231557 0%,
    #fff 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite reverse;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* .know-more {
  padding-top: 200px;
} */

.ehsan-farahi-cartoon {
  width: 150px;
  display: none;
}

.my-journey {
  background-color: #eeeeee;
  width: 65%;
  margin: auto;
  padding-bottom: 4%;
}

.journey-started {
  display: block;
  padding-top: 7%;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.ups-downs {
  font-size: 2.2rem;
  display: block;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.profession {
  text-align: center;
  padding-top: 5%;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.journey-one {
  padding-top: 3%;
  font-size: 1.5rem;
  text-align: center;
}

.first-p {
  text-align: justify;
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
}

.finance-img {
  border-radius: 50%;
  float: right;
  margin-left: 2%;
}

.journey-two {
  padding-top: 5%;
  font-size: 1.5rem;
  text-align: center;
}

.second-p {
  text-align: justify;
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
}

.programming-img {
  border-radius: 50%;
  float: left;
  margin-right: 2%;
}

.know-more {
  padding: 5% 0 3%;
  text-align: left;
  display: block;
  font-size: 1.2rem;
}

.educational-background {
  background-color: $color-white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.384)),
    var(--edu-backgroundPhoto);
  background-position: right;
  /* padding: 2% 2.5% 4% 2.5%; */
  height: 90vh;
  position: relative;
}

.edu-content {
  position: absolute;
  left: 2.5%;
  bottom: 2%;
  right: 2.5%;
}

.edu-back-title {
  padding-top: 2%;
  color: $color-white;
}

.edu-quotation {
  color: $color-white;
  position: absolute;
  left: 16%;
}

.my-work {
  text-align: center;
  padding: 3% 4% 1% 3%;
  text-align: left;
  width: 90%;
  margin: auto;
}

.my-work-title {
  text-align: center;
  padding-bottom: 5%;
}

.my-work-card-template {
  border: none;
  background-color: #eeeeee;
}

.project-card-title {
  padding-bottom: 2%;
  font-weight: 800;
}

.my-work-img {
  box-shadow: 1px 1px 4px 5px white;
  -webkit-box-shadow: 1px 1px 4px 5px white;
  -moz-box-shadow: 1px 1px 4px 5px white;
  border-radius: 0%;
}

.general-info {
  background-color: #fff;
  text-align: center;
  padding: 1% 3% 4%;
}

.my-expertise-card {
  border: none;
}

.my-expertise-image {
  border-radius: 8px;
}

.my-expertise-title {
  text-align: left;
  margin-left: -10px;
}

.my-skills-title {
  text-align: left;
  padding-top: 7%;
}

.footer {
  text-align: center;
  background-color: #eeeeee;
}

.newsletter {
  padding-top: 5%;
}

.subs-text {
  padding-bottom: 2%;
}

.subs-email {
  height: 45px;
  width: 25rem;
  border: none;
  border-radius: 0;
}

.subs-email:hover {
  border-radius: 0;
  border: 1px solid skyblue;
}

.subs-submit {
  height: 45px;
  width: 10rem;
  border: none;
  background-color: #06283d;
  color: $color-white;
  border-radius: 0;
}

.social-media {
  padding-top: 5%;
}

.social-media-menu {
  display: none;
}

.social {
  font-size: 2.2rem;
  padding-right: 15px;
  color: black;
}

.social:visited {
  color: black;
}

.email {
  padding: 4% 0 2%;
  font-size: 1.8rem;
}

.top-arrow {
  border: none;
  background-color: transparent;
  border-radius: 4px;
  position: fixed;
  display: none;
  right: 20px;
  bottom: 20px;
  background-image: linear-gradient(
    rgba(65, 63, 66, 0.199),
    rgba(65, 63, 66, 0.199)
  );
}

.dark-mode {
  display: none;
}

.light-mode {
  display: none;
}

@media (max-width: 1270px) and (min-width: 767px) {
  .header {
    .top-menu {
      background-color: #fff;
      background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
      position: fixed;
      width: 100%;
      height: 80px;
      z-index: 1;

      .logo {
        position: relative;
        .ehsan-farahi {
          position: absolute;
          color: #000;
        }
      }

      .menu-navigation {
        position: relative;

        .menu-icon {
          position: absolute;
          right: 20px;
          top: 10px;
          transform: rotate(90deg);
          .icon {
            font-size: 28px;
            color: #000;
            letter-spacing: 4px;
            cursor: pointer;
            display: block;
          }
          .close-icon {
            font-size: 28px;
            color: #000;
            cursor: pointer;
          }
        }

        .menu-list {
          position: fixed;
          width: 100%;
          top: 80px;
          left: -51%;
          background-color: #fff;
          border-top: 2px solid #000;
          box-shadow: 2px 5px 10px #ccc;
          ul {
            font-size: 18px;
            font-weight: 700;
            li {
              display: block;
              padding: 0 10px;
              text-align: center;
              line-height: 3;

              a {
                color: #000;
                text-decoration: none;
                letter-spacing: 2px;
              }
            }
          }
          .menu-account {
            display: inline-block;
          }
        }
        .menu-list-display-on {
          left: 50%;
          animation: menu-list-display-on-animation 0.4s linear;
        }

        @keyframes menu-list-display-on-animation {
          0% {
            left: 0%;
          }

          100% {
            left: 50%;
          }
        }
        .menu-list-display-off {
          animation: menu-list-display-off-animation 0.4s linear;
        }

        @keyframes menu-list-display-off-animation {
          100% {
            left: -50%;
          }

          0% {
            left: 0%;
          }
        }
      }
    }
  }

  .my-journey {
    width: 95%;
    margin: auto;
  }

  .social-media-menu {
    display: block;
    padding: 25px 0px 15px 10px;
    display: inline-block;
  }

  .menu-account {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  body {
    background-color: #eeeeee;
  }

  .header {
    height: 85vh;
    position: relative;
    background-image: none;
    width: 100%;
    background-color: #fff;

    .top-menu {
      background-color: #fff;
      background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
      position: fixed;
      width: 100%;
      height: 80px;
      z-index: 1;
      .menu-navigation {
        position: relative;

        .menu-icon {
          position: absolute;
          right: 20px;
          top: 10px;
          transform: rotate(90deg);
          .icon {
            font-size: 28px;
            color: #000;
            letter-spacing: 4px;
            cursor: pointer;
            display: block;
          }
          .close-icon {
            font-size: 28px;
            color: #000;
            cursor: pointer;
          }
        }

        .menu-list {
          position: fixed;
          width: 100%;
          top: 78px;
          left: -52%;
          background-color: #fff;
          border-top: 2px solid #000;
          box-shadow: 2px 5px 10px #ccc;
          ul {
            font-size: 18px;
            font-weight: 700;
            li {
              display: block;
              padding: 0 10px;
              text-align: center;
              line-height: 3;

              a {
                color: #000;
                text-decoration: none;
                letter-spacing: 2px;
              }
            }
          }
          .menu-account {
            display: inline-block;
          }
        }
        .menu-list-display-on {
          left: 50%;
          animation: menu-list-display-on-animation 0.4s linear;
        }

        @keyframes menu-list-display-on-animation {
          0% {
            left: 0%;
          }

          100% {
            left: 50%;
          }
        }
        .menu-list-display-off {
          animation: menu-list-display-off-animation 0.4s linear;
        }

        @keyframes menu-list-display-off-animation {
          100% {
            left: -50%;
          }

          0% {
            left: 0%;
          }
        }
      }
    }
  }

  .menu-li:nth-child(1) ~ li:last-child a,
  .menu-li:nth-child(2):hover ~ li:last-child a,
  .menu-li:nth-child(3):hover ~ li:last-child a,
  .menu-li:nth-child(4):hover ~ li:last-child a,
  .menu-li:nth-child(5):last-child:hover a {
    width: 0em;
  }

  .logo {
    position: static;
  }

  .ehsan-farahi {
    position: fixed;
    top: 5px;
    right: 50%;
    transform: translate(50%);
    color: #000;
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    font-family: "Alumni Sans Inline One", cursive;
  }

  .ehsan-farahi2 {
    position: absolute;
    top: -3%;
    left: -17%;
    transform: translate(50%);
    color: #000;
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    font-family: "Alumni Sans Inline One", cursive;
  }

  .bio {
    color: $color-black;
    position: absolute;
    right: 50%;
    top: 25%;
    /* transform: translate(50%); */
    width: 80%;
  }

  .about-me {
    font-family: "Parisienne", cursive;
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 30px;
    text-align: center;
  }

  .first-line {
    display: block;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
  }

  .second-line {
    display: block;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
    font-family: "Inconsolata", monospace;
  }

  .script-first-part {
    display: inline;
    font-weight: 300;
    font-size: 25px;
  }

  .script-second-part {
    display: inline;
    padding-left: 30%;
    color: skyblue;
    font-weight: 300;
    font-size: 25px;
  }

  .ehsan-script {
    border-top: 0.5px dotted #000;
    border-bottom: 0.5px dotted #000;
    padding-bottom: 8px;
  }

  .fa-solid {
    color: skyblue;
    position: absolute;
    left: -4%;
    padding-top: 8px;
  }

  .myName {
    color: #ff9f29;
  }

  /* hr {
    width: 100%;
    border: 0.5px dotted #fff;
  } */

  .full-stack {
    padding-top: 100px;
    font-size: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .ehsan-farahi-cartoon {
    width: 150px;
    display: block;
    position: fixed;
    top: 5px;
  }

  .my-journey {
    width: 95%;
    margin: auto;
  }

  .journey-started {
    display: block;
    padding-top: 7%;
    font-size: 2rem;
    text-align: center;
  }

  .ups-downs {
    font-size: 1.9rem;
    display: block;
    text-align: center;
    padding-top: 2%;
  }

  .journey-one {
    padding-top: 6%;
    font-size: 1.1rem;
    text-align: center;
    margin: 0 2%;
  }

  .journey-two {
    padding-top: 10%;
    font-size: 1.1rem;
    text-align: center;
    margin: 0 2%;
  }

  .first-p {
    float: none;
    font-size: 1.4rem;
  }

  .second-p {
    float: none;
    font-size: 1.4rem;
  }

  .know-more {
    padding: 8% 0 5%;
    text-align: left;
    display: block;
    font-size: 1.2rem;
    margin-left: 2%;
  }

  .finance-img {
    width: 140px;
    height: 140px;
    float: right;
    border-radius: 50%;
    float: right;
  }

  .programming-img {
    width: 140px;
    height: 140px;
    float: right;
    border-radius: 50%;
    float: left;
  }

  .educational-background {
    background-color: $color-white;
    text-align: center;
    background-image: none;
    /* padding: 2% 2.5% 4% 2.5%; */
    height: 150vh;
    position: relative;
  }

  .edu-quotation {
    color: skyblue;
    position: absolute;
    left: 16%;
  }

  .edu-content {
    position: absolute;
    left: 2.5%;
    bottom: 2%;
    right: 2.5%;
    top: 380px;
  }

  .edu-back-title {
    padding-top: 10%;
    color: $color-black;
  }

  .my-work {
    text-align: center;
    padding: 3% 4% 1% 3%;
    text-align: left;
    width: 90%;
    margin: auto;
  }

  .my-work-title {
    text-align: center;
    padding-bottom: 5%;
    padding-top: 10%;
  }

  .my-work-card-template {
    border: none;
    background-color: #eeeeee;
  }

  .project-card-title {
    padding-bottom: 2%;
    font-weight: 800;
  }

  .my-work-img {
    box-shadow: 1px 1px 4px 5px white;
    -webkit-box-shadow: 1px 1px 4px 5px white;
    -moz-box-shadow: 1px 1px 4px 5px white;
    border-radius: 0%;
  }

  .general-info {
    background-color: #fff;
    text-align: center;
    padding: 8% 3% 4%;
  }

  .my-expertise-card {
    border: none;
  }

  .my-expertise-image {
    border-radius: 8px;
  }

  .my-expertise-title {
    text-align: left;
    margin-left: -10px;
  }

  .my-skills-title {
    text-align: left;
    padding-top: 7%;
  }

  .card-title {
    border-bottom: 1px solid #aaa492;
    padding: 8px 0;
  }

  .menu-link {
    color: $color-white;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
  }

  .menu-link:hover {
    color: $color-white;
    font-weight: 600;
  }

  .newsletter {
    padding-top: 12%;
  }

  .subs-text {
    padding-bottom: 3%;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .subs-email {
    height: 35px;
    width: 15rem;
  }

  .subs-submit {
    height: 35px;
    width: 8rem;
  }

  .social-media {
    padding-top: 10%;
  }

  .social-media-menu {
    display: block;
    padding: 25px 0px 15px 10px;
    display: inline-block;
  }

  .menu-account {
    display: inline-block;
  }

  .social {
    font-size: 1.8rem;
  }

  .email {
    padding: 8% 0 2%;
    font-size: 1.4rem;
  }

  .dark-mode {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 50px;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 5px;
    color: $color-white;
    background-color: $color-black;
  }

  .light-mode {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 50px;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 5px;
    color: $color-white;
    background-color: #000;
  }
}
/* End of Mobile Size */
